.emoticon {
	display:inline-block; 
	text-indent:-9999px;
	width:16px; 
	height:16px;  
	background-repeat:no-repeat
}

.tags {
	font-size: small;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px; 
	cursor: default;
}
.tags::selection {
	background-color: transparent;
}
.tags-violet {
	background-color: #B200FF;
	color: #fff;
}
.tags-gold {
	background-color: #FFC300;
	color: #fff;
}
.tags-rouge {
	background-color: #DB0012;
	color: #fff;
}
.tags-orange {
	background-color: #D89000;
	color: #fff;
}
.tags-rose {
	background-color: #D16CC2;
	color: #fff;
}
.tags-bleu {
	background-color: #00D6CB;
	color: #fff;
}
.tags-vert {
	background-color: #32D365;
	color: #fff;
}
.tags-vert-palle {
	background-color: #4BB390;
	color: #fff;
}
.forum_url_struc {
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 20 15px;
}
.forum_url_table {
	width: 100%;
}
.forum_url_icone {
	background-color: #333;
	color: white;
	width: 10%;
	padding-top:12;
}
.forum_url_link {
	background-color: #fff;
	color: black;
	text-align: left;
	padding-left: 30px;
	color: grey;
	letter-spacing: 10px;
}
.forum_url_link > a {
	color: black;
	letter-spacing: normal;
	padding-right: 10px;
}
.forum_folder_title {
    padding: 8px 20px;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.forum_folder {
	margin: 0 25px;
    box-sizing: border-box;
    background: #333;
    color: white;
    height: 64px;
    padding: 16px;
}
.forum_liste {
	margin: 0 25px;
    margin-bottom:10px;
    background: white;
}
.forum_folder_cat {
	width: 100%;
}
.forum_icone_table {
	width:72px;
	padding-left: 8px;
}
.forum_icone_img {
	width: 64
}
.forum_icone_icone {
    font-size: 40px!important;
	width: 64
}
.forum_liste_title_a {
	color: black;
	padding-left: 10;
	font-family: "Roboto",sans-serif;
}
.forum_liste_title_a:hover {
	color: black;
}
.forum_liste_title {
	text-align: left;
	width: 50%
}

.forum_liste_title_sc {
	text-align: left;
	padding-left: 10px;
}
.forum_liste_title_sc a {
	color: white;
	background-color: #7dcf85;
	padding: 5px 10px;
	transition: 0.3s;
}
.forum_liste_title_sc a:hover {
	opacity: 0.8
}
.forum_ligne_table {

	transition: 0.3s;
}
.forum_ligne_table:hover {
	background-color: #dddddd;
}
.forum_back {
	float: left;
	color: white;
	background-color: #7dcf85; 
	height: 100%;
	width: 50px;
	text-align: center;
	margin: -16px 15px -16px -16px;
	padding:16px;
}
.forum_back i {
	padding-top: 5px;
	font-size: 20px;
	font-weight: 100;
}
.forum_back:hover {
	opacity: 0.9;
	color: #fff
}
.forum_pagination_btn {
	float: left;
	color: white;
	height: 100%;
	width: 80%;
	text-align: center;
	padding:16px;
	margin: auto;
	margin-top: -10px;
}
.forum_pagination_btn p {
	padding-top: 5px;
	font-size: 15px;
	font-weight: 100;
}
.forum_pagination_btn:hover {
	opacity: 0.9;
	color: #fff
}
.forum_setting_icon {
	cursor: pointer;
}
.forum_bouton_new_topic {
	float: right;
	color: white;
	background-color: #7dcf85; 
	height: 100%;
	width: 15%;
	text-align: center; 
	margin: -16px -16px -16px 0px;

	padding:16px;
}
.forum_bouton_new_topic i {
	padding-top: 5px;
	font-size: 20px;
	font-weight: 100;
}
.forum_bouton_new_topic:hover {
	opacity: 0.9;
	color: #fff
}
.forum_bouton_locked {
	float: right;
	color: white;
	background-color: #ea6a68; 
	height: 100%;
	width: 15%;
	text-align: center;
	margin: -16px -16px -16px 0px;
	padding:16px;
}
.forum_bouton_login {
	float: right;
	color: white;
	height: 100%;
	width: 15%;
	text-align: center;
	margin: -16px -16px -16px -16px;
	padding:20px 16px 12px 16px;
}
.forum_bouton_login:hover {
	opacity: 0.9;
	color: #fff
}
.forum_bouton_locked i {
	padding-top: 5px;
	font-size: 20px;
	font-weight: 100;
}
.forum_bouton_locked:hover {
	opacity: 0.9;
	color: #fff
}
.forum_sorry {
	color: grey;
	font-family: "Roboto",sans-serif;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.3;
}
.forum_new_topic_struc {
	padding: 10px;
}
.forum_textarea_struc {
	width: 60%;
	float: left;
	height: 100%;
	color: black!important;
}
.forum_textarea {
	width: 100%;
}
.forum_input_struc {
	width: 39%;
	float: right;
	height: 100%;
}
.forum_input_input {
    padding-top: 40px;
    width: 100%;
}
.forum_input_submit {
    padding: 25;
    width: 100%;
    margin-top: 20px;
}
.forum_select {
	height:50px;
	border:none;
	width:100%;
	padding-left:18px;
	background-color: #f5f5f5 !important;
	margin-bottom: 10px;
}
.forum_checkbox_label {
	color: black;
	font-size: 15px;
	margin-left: 10px;
}
.forum_checkbox {
	padding: 10px;
	float: left;
}
.forum_erreur {
    margin-bottom: 10px;
    padding: 20 30px;
    color: #fff;
}
.forum_liste_topic_title_a {
	color: black;
	padding-left: 10;
	font-family: "Roboto",sans-serif;
	font-size: 18
}
.forum_liste_topic_title_a:hover {
	color: black;
}
.forum_liste_topic_title {
	text-align: left;
	width: 50%
}
.forum_topic_pagination_struc {
list-style: none;width: 75%;margin:0 auto;margin-bottom: 20px!important;
}
.forum_topic_pagination {
	list-style: none;
	color: #fff;
    padding: 10px 15px;
    background-color: #4fc3f7;
    margin-right: 10px;    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;    float: left;
    transition: background 200ms ease;
}
.forum_topic_pagination a {
	color: white
}
.forum_pag_active {
	background-color: #7dcf85;
}
.forum_topic_pagination:hover {
	opacity: 0.8
}
.forum_btn_edit_struc_2 {
    position: relative;    
    top: 0px;
    right: 1px;
    height: 50;
    width: 150px;
    background-color: #333;
    z-index: 99999999999;
}
.forum_btn_edit_struc_td {}
.forum_btn_edit_struc {
	height: 100%;
	cursor: pointer;
}
.forum_btn_edit_struc:hover {
	opacity: 0.8
}
.forum_btn_edit {
	color: #fff;
	margin-top: 32px;
	height: 100%;
	padding:16px 16px 16px 16px;
}
.forum_btn_edit:hover {
	color: #fff;
	opacity: 0.8
}
.forum_right {
	max-width: 50%;
}
.forum_btn_edit_princ {
	color: #fff;
}
.forum_lock_icone {
	color: gold;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	margin-top: -2px;
}
.forum_topic_info_user {
	text-align: center;
	width:25%;
	border-right: rgba(0,0,0,0.2) 0.5px solid;
}
.forum_grade_inc {
    letter-spacing: 0.7px;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 12;
	font-weight: 700;
}
.forum_topic_pseudo_topic {
	text-decoration: none;
	border-bottom: dotted 1px black;
}
.forum_topic_pseudo {
    letter-spacing: 0.7px;
    font-family: "Roboto",sans-serif;
	font-weight: 700;
	color: #008cba;
	box-sizing: inherit;
	word-wrap: break-word;
}
.forum_topic_contenu {
	width: 75%;
	text-align: left;
	padding: 25px;
	vertical-align: top;
	position: relative;
	border-bottom: dotted 1px rgba(0,0,0,0.05);
}
.forum_topic_de_qui {
	bottom: 10px;
	left: 20px;
	position: absolute;
	color:grey;
}
.forum_topic_setting_topic {
	float: right;
	top: 15px;
	right: 20px;
	position: absolute;
	color:grey;
}
.forum_topic_textarea_struc {
	width: 100%;
	height: 200px;
	color: black!important;
}
.forum_topic_textarea {
	width: 100%;
}
.forum_topic_input_submit {
    padding: 25;
    width: 25%;
}
a .forum_topic_input_submit {
    font-weight: 100px!important;
}
.forum_liste_lock_icone {
	margin-left: 10px;
	color: gold;
	font-size: 20;
}
.forum_topic_btn_bottom {
	padding-bottom: 15px;
}
.forum_topic_non_co {
	background-color: #00D6CB;
	height: 100px;
	padding-top: 45px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
.forum_topic_tool {
	float: right;
	color: white;
	height: 100%;
	width: 5%;
	text-align: center;
	cursor: pointer;
	margin: -16px -0px -16px -0px;
	padding:16px 16px 16px 16px;
}
.forum_topic_tool i {
	padding-top: 5px;
	font-size: 20px;
	font-weight: 100;
}
.forum_topic_tool:hover {
	opacity: 0.9;
	color: #fff
}
.forum_stats_struc {
	margin: 25px;
	display: block;
}
.forum_stats_table {
	width: 100%;
	height: 70px;
}
.forum_stats {
	padding: 15px;
	font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 1%;
}
.forum_stats_name {
	color: white;
	width: 10%;
	text-align: center;
	background-color: #333;
}
.forum_stats_valeur {
	width: 10%;
	text-align: center;
	color: black;
	background-color: #fff
}

.profil {
    background-color: transparent;
}
.profil_box{
    height: 90%;
    background-color:#333;
    width: 100%;
}
.profil_delimiter {
    height: 5%
}
.profil_title {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    padding: 20px 40px; 
    text-align: center;
}
.profil_form {
    padding: 20px 40px;
    display: table;
    width: 80%;
    margin: auto;
}
.profil_td {
    padding:0!important;
}
.profil_addons {
    color: white;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
.profil_input {
    width: 100%;
    background-color: #f2f2f2;
    margin: 0px!important;
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}
.profil_affiche {
	margin-top: 20px;
    padding: 18px 25% 19px;
    font-size: 14px;
    width: 50%;
    background-color: #f2f2f2;
    color: black;
}
.profil_submit {
    margin-left: 50px;
    padding: 18 60;
}
.profil_title_img {
	text-align: center;
	padding-top: 20px;
}
.profil_grade {
	margin:auto;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 10px;
	color: white;
	padding: 10px 20px;
	width: 10%
}
.profil_avatar_change {
	color: white;
	padding: 10 15px;
	cursor: pointer;
	font-size: small;
}
.profil_avatar_change:hover {
	opacity: 0.8
}
.forum_setting {
	position: absolute;    
    top: 35px;
    right: 0px;
    height: 50px;
    width: 80px;
    background-color: #333;
}
.forum_setting_a {
	position: relative;
	top: 10px;
	left: 10px;
    color: #fff;
    font-size: 12px; 
}