<html>
<tekken>
    <backend>com.pouletnetwork.backends.Home</backend>
    <getter>/home</getter>
    <getter>/</getter>
</tekken>
<head>
    <title>Accueil - PouletNetwork</title>
    <link rel="icon" type="image/png" href="/assets/images/poulet.png" />
    <meta charset="UTF-8">
    <meta name="description" content="Dans ce site, vous trouverez tous les projets de AntoZzz">
    <meta name="keywords" content="poulet network, chicken network, minecraft, AntoZzz, SorryNoName3">
    <meta name="author" content="AntoZzz">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
</head>
<body>
<div id="particles-js"></div>
<tekken-import template="include/header.html" backend="com.pouletnetwork.backends.Header"/>
<div class="widget center">
    <div class="blur"></div>

    <div class="text center"><br><br>
        <h1 class="title_gros">PLAY.POULETNETWORK.FR</h1>
        <br><br>
        <div class="play_left">
            <p class="play_stats_name">Joueurs en ligne</p>
            <p><?= $server->count_online() ?></p>
        </div>
        <div class="play_right">
            <p class="play_stats_name">Joueurs enregistrés</p>
            <p>{account_register}</p>
        </div>
    </div>
</div>
<div class="structure_white">
    <h1 class="structure_white_title">Présentation</h1>
    <div class="structure_white_separation"></div>
    <p class="structure_white_text">Bienvenue sur <b>Poulet Network</b>. Ce serveur Minecraft a été crée dans le but de réunir du monde pour jouer tranquillement sur un <b>serveur libre</b>, ou les <b>grades ne sont pas cher</b> et ou il y a système de <b>Host</b> que l'ont peut obtenir très facilement. Nous voulons faire profiter tout le monde a moindre frais : <b>Serveur en crack</b>. Merci beaucoup de nous soutenir dans cette quête :D</p>
    <br><img src="assets/images/poulet.png">
</div>
<div class="structure_black">
    <h1 class="structure_black_title">BOUTIQUE</h1>
    <div class="structure_black_separation"></div>
    <div class="pricing-table group">
        <div class="block personal fl">
            <h2 class="title">Chicks</h2>
            <div class="content">
                <p class="price">
                    <span>1.50</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Bien pour débuter</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>10 Hosts</li>
                <li><span class="fontawesome-star"></span>Packs de 2000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x1.5</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>

            <a href="https://pouletnetwork.tk/shop/boutique_pseudo.php?offre=1" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>Chicks</b>
                </div>
            </a>
        </div>
        <div class="block professional fl">
            <h2 class="title">Chikens</h2>
            <!-- CONTENT -->
            <div class="content">
                <p class="price">
                    <span>4</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Niquel pour jouer</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>40 Hosts</li>
                <li><span class="fontawesome-star"></span>Packs de 5000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x2</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>
            <a href="https://pouletnetwork.tk/shop/boutique_pseudo.php?offre=2" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>Chikens</b>
                </div>
            </a>
        </div>
        <div class="block business fl">
            <h2 class="title">SuperChikens</h2>

            <div class="content">
                <p class="price">
                    <span>10</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Super pour nous soutenir</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>1 mois de host</li>
                <li><span class="fontawesome-star"></span>Packs de 10 000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x3</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>
            <a href="./shop/boutique_pseudo.php?offre=3" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>SuperChikens</b>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="structure_white">
    <h1 class="structure_white_title">Staff</h1>
    <div class="structure_white_separation"></div>
    <div class="about_struc">
        <div class="about_box">
            <img src="assets/images/antozzz.png" class="about_sphere"><p class="about_grade"><p class="about_rouge">Syst.Admin</p> & <p class="about_vert">Développeur</p></p><p class="about_text">AntoZzz</p>
        </div>
        <div class="about_box">
            <img src="assets/images/padawan.jpg" class="about_sphere"><p class="about_grade"><p class="about_rouge">Syst.Admin</p> & <p class="about_vert">Développeur</p><p class="about_text">Acterax</p>
        </div>
    </div>
    <br>
</div>
<tekken-import template="include/footer.html"/>
<img src="assets/images/scroll-down.png" class="scrolldonw">
<script src="assets/js/particles.js"></script>
<script>
    particlesJS.load('particles-js', 'assets/js/particles.json', function(){
        console.log('particles.json loaded...');
    });
</script>
</body>
</html>