<html>
<tekken>
    <backend>com.pouletnetwork.backends.Shop</backend>
    <getter>/shop/rank</getter>
</tekken>
<head>
    <title>Accueil - PouletNetwork</title>
    <link rel="icon" type="image/png" href="/assets/images/poulet.png" />
    <meta charset="UTF-8">
    <meta name="description" content="Dans ce site, vous trouverez tous les projets de AntoZzz">
    <meta name="keywords" content="poulet network, chicken network, minecraft, AntoZzz, SorryNoName3">
    <meta name="author" content="AntoZzz">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
</head>
<body>
<tekken-import template="include/header.html" backend="com.pouletnetwork.backends.Header"/>

<div style="height: 100px;display: block;width: 100%"></div>
<div class="structure_black">
    <h1 class="structure_black_title">BOUTIQUE</h1>
    <div class="structure_black_separation"></div>

    <div class="pricing-table group">
        <div class="block personal fl">
            <h2 class="title">Chicks</h2>
            <div class="content">
                <p class="price">
                    <span>1.50</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Bien pour débuter</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>10 Hosts</li>
                <li><span class="fontawesome-star"></span>Packs de 2000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x1.5</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>

            <a href="https://pouletnetwork.tk/shop/boutique_pseudo.php?offre=Chicks&type=RANK" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>Chicks</b>
                </div>
            </a>
        </div>
        <div class="block professional fl">
            <h2 class="title">Chikens</h2>
            <!-- CONTENT -->
            <div class="content">
                <p class="price">
                    <span>4</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Niquel pour jouer</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>40 Hosts</li>
                <li><span class="fontawesome-star"></span>Packs de 5000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x2</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>
            <a href="https://pouletnetwork.tk/shop/boutique_pseudo.php?offre=Chickens&type=RANK" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>Chikens</b>
                </div>
            </a>
        </div>
        <div class="block business fl">
            <h2 class="title">SuperChikens</h2>

            <div class="content">
                <p class="price">
                    <span>10</span>
                    <sub>€</sub>
                </p>
                <p class="hint">Super pour nous soutenir</p>
            </div>

            <ul class="features">
                <li><span class="fontawesome-cog"></span>1 mois de host</li>
                <li><span class="fontawesome-star"></span>Packs de 10 000 ChickenCoins</li>
                <li><span class="fontawesome-dashboard"></span>Booster x3</li>
                <li><span class="fontawesome-cloud"></span>Grade a vie</li>
            </ul>
            <a href="https://pouletnetwork.tk/shop/boutique_pseudo.php?offre=SuperChikens&type=RANK" style="text-decoration: none;">
                <div class="pt-footer">
                    Acheter <b>SuperChikens</b>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <h1 class="footer_text">COPYRIGHT © 2017 PouletNetwork - Designed by <a href="http://antozzz.esy.es">AntoZzz</a></h1>
</div>
</body>
</html>
