<html>
<tekken>
    <backend>com.pouletnetwork.backends.Shop</backend>
    <getter>/shop</getter>
</tekken>
<head>
    <title>Accueil - PouletNetwork</title>
    <link rel="icon" type="image/png" href="/assets/images/poulet.png" />
    <meta charset="UTF-8">
    <meta name="description" content="Dans ce site, vous trouverez tous les projets de AntoZzz">
    <meta name="keywords" content="poulet network, chicken network, minecraft, AntoZzz, SorryNoName3">
    <meta name="author" content="AntoZzz">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
</head>
<body>
<tekken-import template="include/header.html" backend="com.pouletnetwork.backends.Header"/>

<div style="height: 100px;display: block;width: 100%"></div>
<div class="structure_black">
    <h1 class="structure_black_title">BOUTIQUE</h1>
    <div class="structure_black_separation"></div>
    <br>
    <div style="color:white;background-color: #f39c12;display: block;padding: 20px 30px;width: 50%;margin: auto;">
        <b>Achetez un grade ou un host sur ce serveur permet de nous soutenir financièrement & amélioré le serveur</b>
    </div><br>

    <a href="/shop/host" class="structure_boutique_choix_boxe">
        <img width="100px" style="margin-top: 75px;" src="assets/images/server.png">
        <p class="structure_boutique_choix_title">HOST</p>
    </a>
    <a href="/shop/rank" class="structure_boutique_choix_boxe">
        <img width="100px" style="margin-top: 75px;" src="assets/images/offer.png">
        <p class="structure_boutique_choix_title">GRADE</p>
    </a>

</div>
<div class="footer">
    <h1 class="footer_text">COPYRIGHT © 2017 PouletNetwork - Designed by <a href="http://antozzz.fr">AntoZzz</a></h1>
</div>
</body>
</html>
