<html>
<tekken>
    <backend>com.tekken.auth.backend.Login</backend>
    <getter>/statistic/:player</getter>
</tekken>
<head>
    <title>Statistique de {playerName} - PouletNetwork</title>
    <link rel="icon" type="image/png" href="/assets/images/poulet.png" />
    <meta charset="UTF-8">
    <meta name="description" content="Dans ce site, vous trouverez tous les projets de AntoZzz">
    <meta name="keywords" content="poulet network, chicken network, minecraft, AntoZzz, SorryNoName3">
    <meta name="author" content="AntoZzz">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="/assets/style/style.css" rel="stylesheet">
</head>
<script type="text/javascript">
    setTimeout(function () {
        var loader = document.getElementById('loader');
        loader.style.top = "-100%";
    }, 2000);
</script>
<body onload="loaderFunction()">
<div id="loader">
    <div><img class="vrailoader" src="/assets/images/revive.png"></div>
    <p class="loader_title">Chargement du profil ...</p>
</div>
<tekken-import template="include/header.html" backend="com.pouletnetwork.backends.Header"/>
<div style="height: 100px;width: 100%;display: block;"></div>
<div class="structure_black" >
    <div class="stats_left">
        <img src="https://minotar.net/body/AntoZzz" width="200px;">
        <div class="stats_pseudo">AntoZzz</div>
        <div class="stats_rang admin">Administrateur</div>
    </div>
    <div class="stats_right">
        <table class="stats_table">
            <tr>
                <td width="100%" class="stats_title"><br> Statistique en général<br><br></td>
            </tr>
            <tr class="stats_ligne">
                <td><b>Abonné au host: </b>Oui</td><br><br>
            </tr>
            <tr class="stats_ligne">
                <td><b>En ligne: </b>?</td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
        </table>
        <table class="stats_table">
            <tr>
                <td width="100%" class="stats_title" style="background-color: #e74c3c"><br> Amis<br><br></td>
            </tr>
            <tr class="stats_ligne">
                <td><b>En attente du dieu padawan</b></td><br><br>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
            <tr class="stats_ligne">
                <td><b></b></td>
            </tr>
        </table>
    </div>
</div>
<script>
    var myVar;

    function loaderFunction() {
        myVar = setTimeout(showPage, 3000);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("structure").style.display = "block";
    }
</script>
<tekken-import template="include/footer.html"/>
</body>
</html>
